@page
@model LoginModel
@{
    ViewData["Title"] = "로그인";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <h2>Login</h2>
        <form method="post" id="loginForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required />
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required />
            </div>
            <button type="submit" class="btn btn-primary mb-3">Login</button>
            <div class="text-danger">
                <span asp-validation-for="LoginError"></span>
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <h4 class="mb-3">--- OR ---</h4>
        <h2>Register</h2>
        <form method="post" asp-page-handler="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label for="registerUsername">Username</label>
                <input type="text" class="form-control" id="registerUsername" name="registerUsername" required />
            </div>
            <div class="form-group mb-3">
                <label for="registerPassword">Password</label>
                <input type="password" class="form-control" id="registerPassword" name="registerPassword" required />
            </div>
            <div class="form-group mb-3">
                <label for="registerEmail">Email</label>
                <input type="email" class="form-control" id="registerEmail" name="registerEmail" />
            </div>
            <button type="submit" class="btn btn-secondary">Register</button>
            <div class="text-danger">
                <span asp-validation-for="RegisterError"></span>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}