################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/BankisApp/bin/Debug/net8.0
/BankisApp/obj
/.vs
/BankisApp/UserData/aaa/account.txt
/BankisApp/eFriendOpenAPI/hts.token.D96E5167
/BankisApp/eFriendOpenAPI/kosdaq_code.mst
/BankisApp/eFriendOpenAPI/kospi_code.mst
